

.target-container {
    margin-left: 20px;
}

.event-container {
    margin-left: 20px;
}

.record-event-type {
    border: solid 1px #000;
    border-radius: 3px;
    background: rgb(37, 48, 212);
    color: #fff;
    padding: 3px;
}